/* Basics */
body {
	Margin: 0;
	padding: 0;
	min-width: 100%;
	background-color: #ffffff;
    background-image:url(images/hero-bg-631fc09d8d300ddfa2d75201165021343ccc7729cfd09fe8ff30ce70c4d52de9.png)
    
}
table {
	border-spacing: 0;/*розтягує по всьому блоку*/
    /**color: aliceblue;**/
    
}
p{
    
}
td {
	padding: 0;
}/*
img {
	border: 0;
}
	width: 100%;
	table-layout: fixed;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}*/
.webkit {
	max-width: 600px;
    
}
.outer {
	Margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}
/*.inner {
	padding: 10px;
}*/
.contents {
	width: 100%;
}
p {
	Margin: 0;
}

.h1 {
	font-size: 21px;
	font-weight: bold;
	Margin-bottom: 18px;
}
.h2 {
	font-size: 18px;
	font-weight: bold;
	Margin-bottom: 12px;
}*/



/* One column layout */
.one-column .contents {
	text-align:left;
}
.one-column p {
    margin-top: 10px;
	font-size: 20px;
	Margin-bottom: 10px;
}

/*Two column layout*/
.two-column {
	text-align:center;
	font-size:0;
}
.two-column .column {
    margin-top: 30px;
	width: 100%;
	max-width: 300px;
	display: inline-block;
	vertical-align: top;
}
.two-column .contents {
	font-size: 16px;
	text-align: left;
}
.two-column img {
	width: 100%;
	height: auto;
}
.two-column .text {
	padding-top: 0px;
}

/* Logo */
.logo img {
    width: 40%;
}

.two p {
    margin-top: 30px;
    
}

/** Icon **/
.three-column {
    max-width: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.three-column .column {
	max-width: 100px;
	display:inline-block;
	vertical-align: top;
}

.three-column img {
	width: 90%;
	height: auto;
}

/**left-two-column**/
.left-two-column {
    max-width: 300px;
    
}

.left-two-column .column {	
}

.left-two-column img {
	width: 40%;
	height: auto;
}